<template>
    <header>
        <h1>{{title}}</h1>
        <Button v-show="isHomePage" :text="showAddTask ? 'close' : 'Add Task'" :color="showAddTask ? 'red' : 'green'" @toogle-add-task-form="$emit('toogle-add-task-form')"/>
    </header>
</template>

<script>
import Button from './Button'

export default {
    name: 'Header',
    props: {
        title: String,
        showAddTask: Boolean,
    },
    components:{ 
        Button
    },
    emits: ['toogle-add-task-form'],
    computed: {
        isHomePage(){
            if(this.$route.path === '/'){
                return true
            }else{
                return false
            }
        }
    }
}
</script>

<style scoped>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>
